<div class="form-inline">
<form action="/answer" data-turbo="false">
  <input type="text" name="question" class="form-group col-md-4">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
